body {
    background-color: rgb(0, 0, 0);
    color: white;
}
.consulta {
    background-color: rgb(6, 5, 58);
    color: rgb(253, 255, 254);
    display: flex;
    justify-content: center;
    padding: 5px;
    
}
a {
    padding: 5px;
    color: rgb(253, 255, 254);
    border: white solid 1px;
    border-color: white;
    border-radius: 5px;
    font-size: 20px;
    
}
a:hover {
    color: rgb(51, 94, 236);
    transition: 1s;
    border-color: rgb(65, 54, 223);
}